# SPDX-License-Identifier: GPL-2.0-only
config PINCTRL_TEGRA
	tristate
	select PINMUX
	select PINCONF

config PINCTRL_TEGRA20
	tristate
	select PINCTRL_TEGRA

config PINCTRL_TEGRA30
	tristate
	select PINCTRL_TEGRA

config PINCTRL_TEGRA114
	tristate
	select PINCTRL_TEGRA

config PINCTRL_TEGRA124
	tristate
	select PINCTRL_TEGRA

config PINCTRL_TEGRA210
	tristate
	select PINCTRL_TEGRA

config PINCTRL_TEGRA186
	tristate
	select PINCTRL_TEGRA

config PINCTRL_TEGRA194
	tristate
	select PINCTRL_TEGRA

config PINCTRL_TEGRA_XUSB
	tristate
	default y if ARCH_TEGRA
	select GENERIC_PHY
	select PINCONF
	select PINMUX
